@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex items-center justify-center
  }

  .around {
    @apply flex items-center justify-around
  }

  .vstack {
    @apply flex flex-col
  }

  .full {
    @apply w-full h-full
  }

  .center-full {
    @apply full center
  }

  .error {
    @apply outline-pink-500 ring-1 ring-pink-500
  }

  .font-ma {
    font-family: 'MontserratAlternates';
  }
}


@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('$fonts/MontserratAlternates-Bold.ttf');
  font-weight: 800;
}

:root {
  --color-1-1: #178058;
  --color-1-2: #2d8b67;
  --color-1-3: #27a876;
  --color-1-4: #53BD94;
  --color-1-5: #77BFA3;
  --color-1-6: #98C9A3;
  --color-1-7: #BFD8BD;
  --color-1-8: #DDE7C7;
  --color-1-9: #EDEEC9;
  --color-1-10: #F5F0C4;
  --color-1-11: #FEF4D2;
  --color-1-12: #f8f3e4;
  
  --color-2-1: #02132A;
  --color-2-2: #0F233F;
  --color-2-3: #1D3456;
  --color-2-4: #2A5D6C;
  --color-2-5: #388A83;
  --color-2-6: #4CCAA4;
  --color-black: #02132A;
  --color-red: #E63946;
  --color-white: #F1FAEE;
  --color-blue: #A8DADC;
  --color-mid-blue: #457B9D;
  --color-dark-blue: #1D3557;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "MontserratAlternates";

  background: var(--color-1-12);
  /* background: linear-gradient(
    180deg, 
    var(--color-1-1) 0%, 
    var(--color-1-2) 20%,
    var(--color-1-3) 40%,
    var(--color-1-4) 60%,
    var(--color-1-5) 80%,
    var(--color-1-6) 100%
  ); */
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  overscroll-behavior-y: contain;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-1-6);
  background-clip: content-box;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

*::placeholder {
  color: var(--color-1-10);
}

.flip-inner {
  transform-style: preserve-3d;
  position: relative;
}

.animate-flip {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}